<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.BedMapper">
    <insert id="insert" parameterType="bed">
        INSERT INTO `bed` (`bnumber`, `pno`, `nno`, `wnumber`)
        VALUES (#{bnumber}, null, null, #{wnumber})
    </insert>
    <update id="update" parameterType="bed">
        UPDATE `bed`
        SET
            `bnumber`=#{bnumber},
            `pno`=#{pno},
            `nno`=#{nno},
            `wnumber`=#{wnumber}
        WHERE `bid`=#{bid}
    </update>
    <update id="updateWnumberByOldwnumber" parameterType="bed">
        UPDATE `bed`
        SET `wnumber` = #{newWnumber}
        WHERE `wnumber` = #{oldWnumber}
    </update>
    <update id="updatePnoAndNnoByBnumber" parameterType="bed">
        UPDATE `bed`
        SET
            `pno`=#{pno},
            `nno`=#{nno}
        WHERE
            `bnumber`=#{bnumber}
    </update>
    <update id="updateBnumber">
        UPDATE bed
        SET bnumber = #{newBnumber}
        WHERE bnumber = #{oldBnumber}
    </update>
    <delete id="delete">
        DELETE FROM `bed` WHERE `bid`=#{bid}
    </delete>
    <delete id="deleteByWnumber">
        DELETE FROM `bed` WHERE `wnumber`=#{wnumber}
    </delete>
    <select id="selectAll" resultType="bed">
        SELECT * FROM `bed`
    </select>
    <select id="selectByBnumber" resultType="bed">
        SELECT * FROM `bed` WHERE `bnumber`=#{bnumber}
    </select>
    <select id="selectByBid" resultType="bed">
        SELECT * FROM `bed` WHERE `bid`=#{bid}
    </select>
    <select id="selectByWnumber" resultType="bed">
        SELECT * FROM `bed` WHERE `wnumber`=#{wnumber}
    </select>
    <select id="selectFreeBedsByWnumber" resultType="bed">
        SELECT bnumber
        FROM `bed`
        WHERE wnumber = #{wnumber}
          AND (pno IS NULL OR pno = '')
    </select>

</mapper>