<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mapper.DutyMapper">
    <resultMap id="dutyMap" type="duty">
        <id column="duty_id" property="dutyId" />
        <result column="duty_date" property="dutyDate" />
        <result column="duty_work_time" property="dutyWorkTime" />
        <result column="duty_closing_time" property="dutyClosingTime" />
        <result column="duty_task_progress" property="dutyTaskProgress" />
        <result column="duty_details" property="dutyDetails" />
        <!--  一对多映射  -->
        <collection property="nurses" ofType="nurse">
            <id column="nid" property="nid" />
            <result column="nno" property="nno" />
            <result column="nname" property="nname" />
            <!--  一对一映射  -->
            <association property="department" javaType="department">
                <id column="did" property="did" />
                <result column="dname" property="dname" />
                <result column="dlocation" property="dlocation" />
            </association>
        </collection>
    </resultMap>
    <insert id="insertDutyIdAndNid">
        INSERT INTO `duty_nurse` (`duty_id`, `nid`)
        VALUES
            <foreach collection="nids" item="nid" separator=",">
                (#{dutyId},#{nid})
            </foreach>
    </insert>
    <insert id="insert" parameterType="duty">
        INSERT INTO `duty` (`duty_date`, `duty_work_time`, `duty_closing_time`, `duty_task_progress`, `duty_details`)
        VALUES (#{dutyDate}, #{dutyWorkTime}, #{dutyClosingTime}, #{dutyTaskProgress}, #{dutyDetails})
    </insert>
    <update id="update" parameterType="duty">
        UPDATE `duty`
        SET `duty_date`=#{dutyDate}, `duty_work_time`=#{dutyWorkTime}, `duty_closing_time`=#{dutyClosingTime}, `duty_task_progress`=#{dutyTaskProgress}, `duty_details`=#{dutyDetails}
        WHERE `duty_id`=#{dutyId}
    </update>
    <delete id="deleteDutyIdAndNidByDutyId">
        DELETE FROM `duty_nurse` WHERE `duty_id`=#{dutyId}
    </delete>
    <delete id="delete">
        DELETE FROM `duty` WHERE `duty_id`=#{dutyId}
    </delete>
    <select id="selectAll" resultMap="dutyMap">
        SELECT
            duty.*, n.*, d.*
        FROM
            `duty` duty
                LEFT JOIN `duty_nurse` dn
                          ON duty.`duty_id` = dn.`duty_id`
                LEFT JOIN `nurse` n
                          ON dn.`nid` = n.`nid`
                LEFT JOIN `department` d
                          ON n.`did` = d.`did`
    </select>
    <select id="selectNidByDutyId" resultType="java.lang.Long">
        SELECT `nid` FROM `duty_nurse` WHERE `duty_id`=#{dutyId}
    </select>
</mapper>